@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
}

header {
    background-color: rgb(0, 195, 255);
    text-align: center;
    color: white;
    font-family: arial;
    font-variant: small-caps;
}

header h1 {
    padding: 20px;
    font-size: 3em;
}

span#burguer {
    font-size: 2em;
    color: white;
    cursor: pointer;
}

menu ul {
    list-style-type: none;
    padding: 10px;
}

menu ul li {
    padding-top: 5px;
    margin: 8px;
}

menu ul li a {
    text-decoration: none;
    color: rgb(21, 190, 190);
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

menu ul li a:hover {
    background-color: rgb(0, 175, 175);
    color: white;
}

main article {
    margin: auto;
    max-width: 600px;
}

main article p {
    padding: 40px;
    text-align: justify;
    background-color: rgb(161, 82, 82);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}