@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #37a862;
}

header h1 {
    text-align: center;
    font-size: 2em;
    padding: 20px;
    color: #ffffff;
}

span#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #016644;
    color: white;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu ul li a {
    display: block;
    text-align: center;
    color: #b4f8ce;
    background-color: #00a76f;
    text-decoration: none;
    padding: 10px;
    border-top: solid 2px #a4c064;
}

menu ul li a:hover {
    color: rgb(255, 255, 255);
}

main {
    margin: auto;
    padding: 10px;
}

article p {
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
    color: #ffffff;
    background-color: #a4c064;
}